{
  "presets": ["latest", "react"],
  "plugins": [["__coverage__", {"only": "public_html/src/**"}],
               "add-module-exports", "transform-es2015-destructuring", "transform-object-rest-spread"],
  "sourceMap": "both"
}